.title {
	font-size: 32px;
	line-height: 1.5;
	font-weight: 800;
	margin-bottom: 20px;
}  

.buttonBack {
	color: #5a7a8b;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
}
